/* GLOBAL */

.navbar-brand-image {
    height: 50px;
    float: left;
}

.navbar {
    margin-bottom: 0px;
}

.body-text {
    font-size: 25px;
}

.grid-item-body>a {
    text-decoration: underline;
    background-color: transparent;
    border-radius: 5px;
    padding: 0 0 0 0;
    color: inherit;    
    transition: background-color .5s ease-in-out, color .5s ease-in-out, padding .5s ease-in-out;
}

.grid-item-body>a:visited {
    color: inherit;
    text-decoration: underline;
}

.grid-item-body>a:hover {
    text-decoration: underline;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, padding .5s ease-in-out;
}

.grid-item-body>a:active {
    background-color: black;
}

.hoverbtn {
    text-decoration: underline;
    background-color: transparent;
    border-radius: 5px;
    color: inherit;
    padding: 0 0 0 0;
    border-radius: 10px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out, position .25s ease-in-out, padding .5s ease-in-out;
    cursor: pointer;
}

.hoverbtn:hover {
    position: relative;
    text-decoration: underline;
    background-color: darkgray;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, position .25s ease-in-out, padding .25s ease-in-out;
}

.hoverbtn-image-container {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    transition: height .5s ease-in-out, width .5s ease-in-out, bottom .5s ease-in-out;
}

.hoverbtn:hover>.hoverbtn-image-container {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: calc(50% - 50px);
    transition: height .25s ease-in-out, width .25s ease-in-out, bottom .25s ease-in-out;
}

.hoverbtn-image-container>.hoverbtn-image {
    width: 100px !important;
    height: 100px !important;
    opacity: 0;
}

.hoverbtn:hover>.hoverbtn-image-container>.hoverbtn-image {
    width: 100px !important;
    height: 100px !important;
    opacity: 1;
}

.grid-container {
    height: calc(100lvh - 50px);
    display: grid;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.grid-left>.grid-item-title {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    z-index: 21;
}

.grid-left>.grid-item-body {
    grid-column: 1;
    grid-row: 2 / span 3;
    z-index: 20;
}

.grid-right>.grid-item-title {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    z-index: 21;
}

.grid-right>.grid-item-body {
    grid-column: 2;
    grid-row: 2 / span 3;
    z-index: 20;
}

@media only screen and (min-width: 600px) {
    .grid-item-body {
        border: rgba(0, 0, 0, 0.8) 1px solid !important;
        border-radius: 25px;
        font-size: min(4vw, 20px);
        overflow: scroll;
    }

    .grid-item-image {
        background-color: rgb(150, 198, 241);
        border-radius: 25px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }

    .grid-item {
        border: 0px solid rgba(0, 0, 0, 0.8);
    }

    .grid-item-title {
        font-size: min(6vw, 50px);
        text-align: center !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(150, 198, 241);
        border-radius: 25px;
    }

    .grid-left>.grid-item-image {
        grid-column: 2;
        grid-row: 1 / span 4;
    }

    .grid-right>.grid-item-image {
        grid-column: 1;
        grid-row: 1 / span 4;
    }

    .grid-item-image-image-inside-container {
        opacity: 1;
        width: calc(45lvw - 60px);
        object-fit: cover;
        border-radius: 25px;
    }

    .grid-item-image-image-container {
        overflow: hidden;
        height: calc(100lvh - 130px);
        display:flex;
        padding:20px;
    }

    .grid-item-image-container {
        opacity: 1;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .grid-item-image-caption {
        opacity: 1;
        font-size: 15px;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .grid-item-image-image {
        opacity: 0;
        scale: 0;
        height: 0;
        width: 0;
    }
}
@media only screen and (max-width: 600px) {
    .spacer {
        scale: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    .grid-right>.grid-item-title {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        z-index: 21;
    }
    
    .grid-right>.grid-item-body {
        grid-column: 1;
        grid-row: 2 / span 3;
        z-index: 20;
    }

    .grid-item-body {
        overflow: hidden;
        font-size: min(4.5vw, 20px) !important;
    }

    .grid-container {
        grid-template-columns: 1fr;
        height: calc(calc(100lvh - 50px) / 1);
    }

    .grid-item-image-caption {
        opacity: 0;
        font-size: 0px;
    }

    .grid-item-image-container {
        opacity: 0;
        scale: 0;
        width: 0;
        height: 0;
    }
    
    .grid-item-image-image-inside-container {
        opacity: 0;
        scale: 0;
        width: 0;
        height: 0;
    }

    .grid-item-image {
        display: grid;
        grid-column: 1;
        grid-row: 1 / span 4;
        grid-template-columns: 1fr;
        border: none;
        padding: 0px;
        margin: 0px;
        z-index: 1;
        font-size: 30px;
        text-align: center;
        overflow: hidden;
    }

    .grid-item-image-image {
        opacity: 1;
        z-index: 1;
        width: 100lvw;
        object-fit: cover;
    }

    .grid-item-image>*{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .image-overlay {
        height: 100%;
        width: 100%;
        opacity: 50%;
        z-index: 2;
        background-color: white;
    }

    .navbar-brand {
        font-size: 0px;
    }
}

@media only screen and (max-width: 520px) {
    .grid-item-image-image {
        height: 100lvh;
        background-position: left center;
    }
}

.splash {
    height: 100svh;
    width: 100lvw;
    text-align: center;
    display: grid;
    grid-template-columns: 100lvw;
    overflow: hidden;
}

.splash>.overlay {
    height: 100svh;
    width: 100lvw;
    background-color: black;
    opacity: 0.5;
    grid-row: 1;
    grid-column: 1;
    z-index: 199;
}

.splash>.bg {
    overflow: hidden;
    height: 100lvh;
    width: 100lvw;
    object-fit: cover;
    object-position: 100% 0;
    grid-row: 1;
    grid-column: 1;
}

.splash>.anim {
    width: 50lvw;
    margin: auto;
    grid-row: 1;
    grid-column: 1;
    z-index: 500;
}

.down-arrow-container {
    display: flex;
    height: auto;
    width: 100lvw;
    position: absolute;
    bottom: 20px;
    justify-content: center;
    animation: point-down 1s ease-in-out infinite alternate;
}


.down-arrow {
    align-self: center;
    z-index: 200;
    color: white; 
    cursor: pointer; 
    padding: 15px;
    font-size: 18px; 
}

.down-arrow:hover {
    color: lightgray;
}

@keyframes point-down {
    0% {bottom: 20px}
    100% {bottom:10px}
}